<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

<img>
<h1 class="letras">Produtos</h1>

<div class="container">

<% for(let produto of produtos){ %>

  <div class="card-principal">
    <a href="/produtos/<%= produto.id%>">
    <img src="/img/<%= produto.img %>" class="img"><img>
    <p><strong><%= produto.nome %><br>
      Capa comum </strong></p>
       <p><strong>Precinho: </strong><%= produto.preco %></p>
       <p>por Ali Hazelwood (Autor)</p>
       <button class="botao" href="/produtos/<%= produto.id%>">Ver mais</button> 
       </a>
  </div>

  <% } %>

 
</div>
</body>
</html>
